h6{
    font-family:arial;
    font-size :14px;
    font-weight:lighter;
    opacity: 0.75;
}
h5{
    font-family:arial;
    font-size :13px;
    font-weight:lighter;
    opacity: 0.75;
}
 

    #topbar{
        display:flex;
        width: 100% ;
        height:auto;
        flex-direction: row;
        justify-content: space-between ;
        align-items: baseline;
    }

    #left{
        display: flex;
        width:150px;
        justify-content: space-evenly;
        align-self: end;
        
    }
    #right{
        display:flex;
        width: 250px;
        justify-content: space-evenly;
        
    }
    
    .footer{
        display:flex;
        width: 100% ;
        
    
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        
        color: rgba(0,0,0,.54);
        font-size: 14px;
        line-height:5px;
        background-color: rgba(207, 207, 207,0.3);
        
    }

    .input{
        display:flex;
        margin-top: 40px;
        justify-content: center;
        
        
    }
    .input input{
        width: 484px;
        height: 46px;
        background-color: white;
        border-width: 1px;
        border-color: rgb(202, 202, 202);
        border-radius: 24px;
        border-style:solid;
        order: 2;

    }
}



.loupe {
    display:flex;
    justify-content:center;
    margin-top:300px
      

    

}

.loupe img{
    width: 25px;
    height: 25px;
    opacity: 0.4;

}

/*.middle{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
}
    */
.clip {
    clip-path: circle(50%);
        width: 32px;  
        height: 32px;
        position:relative;
          
    }
.logo{
    display:flex;
    justify-content:center;
    margin-top: 109px;
}
#logobox{
    display:flex;
    justify-content: center;
}
#bottom{
    display:flex;
    width: 100%;
    height: 600px;
    justify-content: start;
    align-content: end;
    line-height: 20px;
  
}
#country{
    display:flex;
    justify-content: start;
    
    
}
#countrybox{
    display: grid;
    align-content: end;
    padding-left: 27px;
    margin-left: 30px;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.leftB{
    display:flex;
    width:30%;
   justify-content:space-evenly;
}
.rightB{
    display:flex;
    width:30%;
   justify-content: space-evenly;
}
